@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-foreground: hsl(0, 0%, 7%);
  --color-background: hsl(0, 0%, 100%);
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);
  --font-body: "Poppins", sans-serif;
  --shadow-color: 0deg 0% 64%;
  --shadow-elevation-medium: 0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.35),
    0.6px 0.8px 1.1px -0.8px hsl(var(--shadow-color) / 0.35),
    1.4px 2px 2.7px -1.7px hsl(var(--shadow-color) / 0.35),
    3.5px 4.9px 6.8px -2.5px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #002435;
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

main {
  width: 80%;
  max-width: 600px;
  margin: auto;
  background: white;
  box-shadow: var(--shadow-elevation-medium);
  padding: 16px;
  border-radius: 8px;
}

main img {
  width: 100%;
  border-radius: 4px;
  box-shadow: var(--shadow-elevation-low);
  border: 4px solid white;
  margin: 20px 0;
}

main h6 {
  color: #353535;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* CSS */
main button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 0;
}

main button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

main button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  main button {
    padding: 13px 50px 13px;
  }
}

h2,
h3 {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.remix-app__main {
  position: relative;
  z-index: 1;
  padding: 40px 0;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0 {
    0% {
      d: path(
        "M 0,600 C 0,600 0,200 0,200 C 57.73122238586156,172.6172680412371 115.46244477172311,145.23453608247422 172,133 C 228.5375552282769,120.76546391752579 283.8814432989691,123.67912371134022 340,149 C 396.1185567010309,174.32087628865978 453.01178203240056,222.04896907216497 522,230 C 590.9882179675994,237.95103092783503 672.0714285714286,206.125 743,210 C 813.9285714285714,213.875 874.7025036818851,253.45103092783506 926,261 C 977.2974963181149,268.54896907216494 1019.1185567010307,244.07087628865978 1070,217 C 1120.8814432989693,189.92912371134022 1180.8232695139911,160.26546391752578 1244,157 C 1307.1767304860089,153.73453608247422 1373.5883652430043,176.8672680412371 1440,200 C 1440,200 1440,600 1440,600 Z"
      );
    }
    25% {
      d: path(
        "M 0,600 C 0,600 0,200 0,200 C 81.07547864506628,229.95360824742266 162.15095729013257,259.90721649484533 210,257 C 257.84904270986743,254.09278350515464 272.4716494845361,218.32474226804126 333,212 C 393.5283505154639,205.67525773195874 499.9624447717231,228.79381443298968 565,216 C 630.0375552282769,203.20618556701032 653.6785714285714,154.49999999999997 713,158 C 772.3214285714286,161.50000000000003 867.3232695139912,217.20618556701035 926,231 C 984.6767304860088,244.79381443298965 1007.0283505154639,216.67525773195877 1066,209 C 1124.971649484536,201.32474226804123 1220.563328424153,214.09278350515464 1289,216 C 1357.436671575847,217.90721649484536 1398.7183357879235,208.95360824742266 1440,200 C 1440,200 1440,600 1440,600 Z"
      );
    }
    50% {
      d: path(
        "M 0,600 C 0,600 0,200 0,200 C 41.88751840942564,224.36929307805596 83.77503681885128,248.73858615611192 156,253 C 228.22496318114872,257.2614138438881 330.7873711340206,241.41494845360828 387,216 C 443.2126288659794,190.58505154639172 453.07547864506626,155.60162002945506 511,160 C 568.9245213549337,164.39837997054494 674.9107142857143,208.17857142857142 738,205 C 801.0892857142857,201.82142857142858 821.2816642120765,151.68409425625924 880,163 C 938.7183357879235,174.31590574374076 1035.9626288659792,247.0850515463917 1107,274 C 1178.0373711340208,300.9149484536083 1222.8678203240058,281.9756995581738 1274,262 C 1325.1321796759942,242.02430044182617 1382.566089837997,221.0121502209131 1440,200 C 1440,200 1440,600 1440,600 Z"
      );
    }
    75% {
      d: path(
        "M 0,600 C 0,600 0,200 0,200 C 67.78037555228276,221.47183357879234 135.56075110456553,242.94366715758468 194,257 C 252.43924889543447,271.0563328424153 301.53737113402065,277.69716494845363 360,265 C 418.46262886597935,252.30283505154637 486.28976435935203,220.26767304860087 553,219 C 619.710235640648,217.73232695139913 685.3035714285714,247.23214285714286 744,235 C 802.6964285714286,222.76785714285714 854.4959499263623,168.80375552282771 906,150 C 957.5040500736377,131.19624447717229 1008.7126288659795,147.55283505154637 1069,147 C 1129.2873711340205,146.44716494845363 1198.6535346097203,128.98490427098676 1262,135 C 1325.3464653902797,141.01509572901324 1382.6732326951399,170.50754786450662 1440,200 C 1440,200 1440,600 1440,600 Z"
      );
    }
    100% {
      d: path(
        "M 0,600 C 0,600 0,200 0,200 C 57.73122238586156,172.6172680412371 115.46244477172311,145.23453608247422 172,133 C 228.5375552282769,120.76546391752579 283.8814432989691,123.67912371134022 340,149 C 396.1185567010309,174.32087628865978 453.01178203240056,222.04896907216497 522,230 C 590.9882179675994,237.95103092783503 672.0714285714286,206.125 743,210 C 813.9285714285714,213.875 874.7025036818851,253.45103092783506 926,261 C 977.2974963181149,268.54896907216494 1019.1185567010307,244.07087628865978 1070,217 C 1120.8814432989693,189.92912371134022 1180.8232695139911,160.26546391752578 1244,157 C 1307.1767304860089,153.73453608247422 1373.5883652430043,176.8672680412371 1440,200 C 1440,200 1440,600 1440,600 Z"
      );
    }
  }

  .path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1 {
    0% {
      d: path(
        "M 0,600 C 0,600 0,400 0,400 C 63.30430780559645,365.139911634757 126.6086156111929,330.279823269514 178,355 C 229.3913843888071,379.720176730486 268.8698453608248,464.02061855670104 335,468 C 401.1301546391752,471.97938144329896 493.9120029455081,395.6377025036819 557,384 C 620.0879970544919,372.3622974963181 653.4821428571428,425.4285714285714 712,434 C 770.5178571428572,442.5714285714286 854.1594256259207,406.64801178203237 920,403 C 985.8405743740793,399.35198821796763 1033.8801546391753,427.97938144329896 1094,439 C 1154.1198453608247,450.02061855670104 1226.3199558173785,443.4344624447718 1286,434 C 1345.6800441826215,424.5655375552282 1392.8400220913109,412.28276877761414 1440,400 C 1440,400 1440,600 1440,600 Z"
      );
    }
    25% {
      d: path(
        "M 0,600 C 0,600 0,400 0,400 C 52.639359351988205,424.6082474226804 105.27871870397641,449.21649484536084 170,431 C 234.7212812960236,412.78350515463916 311.5244845360825,351.74226804123714 372,345 C 432.4755154639175,338.25773195876286 476.6233431516936,385.8144329896908 531,388 C 585.3766568483064,390.1855670103092 649.9821428571429,346.99999999999994 712,334 C 774.0178571428571,321.00000000000006 833.4480854197351,338.1855670103093 889,340 C 944.5519145802649,341.8144329896907 996.2255154639174,328.25773195876286 1060,349 C 1123.7744845360826,369.74226804123714 1199.6498527245951,424.7835051546392 1265,439 C 1330.3501472754049,453.2164948453608 1385.1750736377026,426.6082474226804 1440,400 C 1440,400 1440,600 1440,600 Z"
      );
    }
    50% {
      d: path(
        "M 0,600 C 0,600 0,400 0,400 C 42.51380706921944,369.2284609720177 85.02761413843888,338.45692194403534 150,358 C 214.97238586156112,377.54307805596466 302.40335051546384,447.4007731958763 365,452 C 427.59664948453616,456.5992268041237 465.35898379970547,395.9399852724595 516,363 C 566.6410162002945,330.0600147275405 630.1607142857142,324.83928571428567 689,331 C 747.8392857142858,337.16071428571433 801.9981590574374,354.70287187039764 870,356 C 938.0018409425626,357.29712812960236 1019.8466494845359,342.3492268041237 1081,355 C 1142.1533505154641,367.6507731958763 1182.6152430044183,407.9002209131075 1239,420 C 1295.3847569955817,432.0997790868925 1367.6923784977907,416.0498895434463 1440,400 C 1440,400 1440,600 1440,600 Z"
      );
    }
    75% {
      d: path(
        "M 0,600 C 0,600 0,400 0,400 C 42.043630338733436,438.24558173784976 84.08726067746687,476.4911634756995 153,470 C 221.91273932253313,463.5088365243005 317.69458762886603,412.2809278350516 382,388 C 446.30541237113397,363.7190721649484 479.1343888070692,366.38512518409425 530,374 C 580.8656111929308,381.61487481590575 649.7678571428572,394.17857142857133 712,412 C 774.2321428571428,429.82142857142867 829.7941826215022,452.90058910162014 888,456 C 946.2058173784978,459.09941089837986 1007.055412371134,442.2190721649484 1069,438 C 1130.944587628866,433.7809278350516 1193.9841678939617,442.2231222385862 1256,438 C 1318.0158321060383,433.7768777614138 1379.007916053019,416.8884388807069 1440,400 C 1440,400 1440,600 1440,600 Z"
      );
    }
    100% {
      d: path(
        "M 0,600 C 0,600 0,400 0,400 C 63.30430780559645,365.139911634757 126.6086156111929,330.279823269514 178,355 C 229.3913843888071,379.720176730486 268.8698453608248,464.02061855670104 335,468 C 401.1301546391752,471.97938144329896 493.9120029455081,395.6377025036819 557,384 C 620.0879970544919,372.3622974963181 653.4821428571428,425.4285714285714 712,434 C 770.5178571428572,442.5714285714286 854.1594256259207,406.64801178203237 920,403 C 985.8405743740793,399.35198821796763 1033.8801546391753,427.97938144329896 1094,439 C 1154.1198453608247,450.02061855670104 1226.3199558173785,443.4344624447718 1286,434 C 1345.6800441826215,424.5655375552282 1392.8400220913109,412.28276877761414 1440,400 C 1440,400 1440,600 1440,600 Z"
      );
    }
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
